{% extends 'base.html' %}

{% block content %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<br></br>

<div class="row">
	<aside class="col-sm-4">
	</aside>
	  <aside class="col-sm-4">
	  
		  <div id="error"></div>
		  <div class="card">
			<article class="card-body">
			<h4 class="card-title mb-4 mt-1">Find Back Password</h4>
			<form class="form-signin" id="user_form" method="post" action="{% url 'appauth:forgetpassword' %}" enctype="multipart/form-data">
			  {% csrf_token %}
  
			  <div class="form-group">
                <label for="password">Your email</label>
                <input type="text" class="form-control" id="reg_email" name="email" placeholder="" value="" size="50" autofocus />
              </div> 

              <div class="form-group">
                <label for="username">Your Username</label>
                <input type="text" class="form-control" id="reg_username" name="username" placeholder="" value="" size="50" />  
              </div>  
   
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block"> Submit  </button>
				</div> <!-- form-group// -->                                                           
			</form>
			</article>
			</div> <!-- card.// -->
		  </aside> <!-- col.// -->
  </div>

{% endblock %}