{% extends 'base.html' %}
{% block content %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    function Validate() {
        var password = document.getElementById("reg_password1").value;
        var confirmPassword = document.getElementById("reg_password2").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
</script>
<br></br>
<div class="row">
  <aside class="col-sm-4">
  </aside>
	<aside class="col-sm-4">
    {% if registered %}
    <div class="card">
      <article class="card-body">
        Thank you for registering! An email has sent to you to verify your account.
        </article>
    </div>
    {% else %}
        <div id="error"></div>
        <div class="card">
          <article class="card-body">
          <h4 class="card-title mb-4 mt-1">Sign Up</h4>
          <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
              {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <button class="btn btn-primary btn-block" type="submit">Sign up</button>
          </form>
          </article>
          </div> <!-- card.// -->
        </aside> <!-- col.// -->
        
    {% endif %}
</div>

{% endblock %}