{% extends 'base.html' %}
{% block content %}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    function register(){
        if($('#reg_email').val() == ''){ $('#error').html("Please enter an email."); $('#reg_email').focus(); }
        else if($('#reg_username').val() == ''){ $('#error').html("Please enter a username."); $('#reg_username').focus(); }
        else if($('#reg_username').val().indexOf('@') > -1){ $('#error').html("Username should not include @ character."); $('#reg_username').focus(); }
        else if($('#reg_password').val() == ''){ $('#error').html("Please enter a password."); $('#reg_password').focus(); }
        else{ $('#user_form').submit(); }
    }
    function Validate() {
        var password = document.getElementById("reg_password1").value;
        var confirmPassword = document.getElementById("reg_password2").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
</script>
<br></br>
<div class="row">
  <aside class="col-sm-4">
  </aside>
	<aside class="col-sm-4">
    {% if registered %}
    <div class="card">
        Thank you for registering! An email has sent to you to verify your account.
    </div>
    {% else %}
        <div id="error"></div>
        <div class="card">
          <article class="card-body">
          <h4 class="card-title mb-4 mt-1">Sign Up</h4>
          <form class="form-signin" id="user_form" method="post" action="/auth/signup/" enctype="multipart/form-data">
            {% csrf_token %}

              <div class="form-group">
                <label for="email">Your email</label>
                <input type="text" class="form-control" id="reg_email" name="email" placeholder="" value="" size="50" autofocus />
              </div> 

              <div class="form-group">
                <label for="username">Your Username</label>
                <input type="text" class="form-control" id="reg_username" name="username" placeholder="" value="" size="50" />  
              </div>
            
              <div class="form-group">
                  <label for="password">Your Password</label> 
                  <input type="password" class="form-control" id="reg_password" name="password" placeholder="********" value="" size="50" />
              </div>              
               
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"  > Submit  </button>
              </div> <!-- form-group// -->                                                           
          </form>
          </article>
          </div> <!-- card.// -->
        </aside> <!-- col.// -->

        
    {% endif %}
</div>

{% endblock %}