{% extends 'base.html' %}

{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    function Validate() {
        var password = document.getElementById("password1").value;
        var confirmPassword = document.getElementById("password2").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
</script>

{% if key %}
{% if message %}
<div class="alert alert-warning" role="alert"> {{ message }} </div>
{% endif %}

<br></br>

<div class="row">
	<aside class="col-sm-4">
	</aside>
	  <aside class="col-sm-4">
	  
		  <div id="error"></div>
		  <div class="card">
			<article class="card-body">
			<h4 class="card-title mb-4 mt-1">Find Back Password</h4>
			<form class="form-signin" id="user_form" method="post" action="{% url 'appauth:resetpassword' key%}" enctype="multipart/form-data">
			  {% csrf_token %}
  
			  <div class="form-group">
				<label for="password">New Password</label> 
				<input type="password" name = "newpassword" class="form-control" id="password1"  placeholder="********" value="" size="50" />
			</div>   

			<div class="form-group">
				<label for="password">Confirm Password</label> 
				<input type="password"  class="form-control" id="password2" name="confirmpassword" placeholder="********" value="" size="50" />
			</div>   
   
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block" onclick="return Validate()"> Submit  </button>
				</div> <!-- form-group// -->                                                           
			</form>
			</article>
			</div> <!-- card.// -->
		  </aside> <!-- col.// -->
  </div>


{% endif %}
{% endblock %}