<!doctype html>
{% load staticfiles %}
{% load static %}
{% block extra_head %}

{% endblock %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<head>
    <meta charset="utf-8">
    <title>{{ form.title }}</title>
</head>
<br></br>
<div class="card text-center">
    <h2 class="card-title">{{ form.title }}</h2>

    <h5 class="card-body">
        {% if form.response %}
        <p class="card-text">{{ form.response }}</p>
        {% endif %}
        <p class="card-text"><a href="/">Click here</a> to return to homepage.</p>
    <script> var link = "/"; </script>
    </h5>
</div>
    

{% block content %}

{% endblock %}
