{% for i in result.courses|dictsort:"number"%}

<tr >
    <th></th>
    <th>Operations</th>
    <th>Mentor Name</th>
    <th>GPA</th>
    <th>Grade</th>
    <th>Mentored Before</th>
    <th>Recommendation</th>
    {% for slot in i.time_slots %}
    <th> {{ slot }} </th>
    {% endfor %}
</tr>

{% for mentor in i.mentors|dictsortreversed:"rank" %}
<tr {% if mentor.name.fixed %} class  = "fixed" {% endif %} id = "mentor{{mentor.name.RIN}}">
    <td style = "font-weight: normal; color:grey">{{forloop.counter}}</td>
    <td style = "font-weight: normal;">
        
        <div id = "buttons{{mentor.name.RIN}}" style = "width: 160px;">
            {% if mentor.name.fixed %}
            <button  class = 'unfix-button bt' type='button' onclick = "unfixMentor('{{i.course.number}}', '{{mentor.name.RIN}}')">
                <span class='glyphicon glyphicon glyphicon-remove-circle' style = 'color:white' ></span>&nbsp Un-Fix
            </button>
            {% else %}
            <button  class = "fix-button bt" type='button' data-toggle='modal' onclick = "fixMentor('{{i.course.number}}', '{{mentor.name.RIN}}')">
                <span class="glyphicon glyphicon-ok-circle" style = "color:rgb(19, 185, 89);"></span>&nbsp Fix
            </button>
            <button  class = "remove-button bt" type='button' style = "color:rgb(199, 71, 48);" onclick = "removeMentor('{{mentor.name.RIN}}', this)">
                <span class="glyphicon glyphicon-minus" style = "color:rgb(199, 71, 48);"></span>&nbsp Remove
            </button>
            {% endif %}
        </div>
    </td>
    <td style = "font-weight: normal;"> 
        <button  class = 'info-button bt text-left' style = "width: 250px;" type='button' onclick = "viewStudentInfo('{{mentor.name.RIN}}', '{{i.course.number}}')" data-toggle="collapse" data-target="#student-info-box{{course.number}}">
            <span class='glyphicon glyphicon glyphicon-info-sign' style = 'color:rgb(117, 126, 250)' ></span> &nbsp{{mentor.name}}
        </button>
    </td>
    <td style = "font-weight: normal;">{{mentor.GPA}}</td>
    <td style = "font-weight: normal;">{{mentor.grade}}</td>
    <td style = "font-weight: normal;">{{mentor.exp}}</td>
    <td style = "font-weight: normal;">
        <div style="width: 130px">
            {% if mentor.recommended %} 
            Recommended
            {% elif mentor.unrecommended %} 
            Not Recommended
            {% endif %}
        </div>
    </td>

    {% for slot in mentor.aval %}
    {% if slot %}
    <td style = "background-color: rgb(231, 170, 0);">   </td>
    {% else %}
    <td style = "background-color: rgb(255, 255, 255);">  </td>
    {% endif %}
    {% endfor %}
    <div class="modal fade" id="confirm-remove{{mentor.name.RIN}}_{{i.course.number}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    Confirm Operation:
                </div>
                <div class="modal-body">
                    <p>Do you want to <b style = "color: red;">remove</b> <b>{{mentor.name}}</b> from the mentor list of <b>{{i.course}}</b>? </p>
                </div>
                <div class="modal-footer">
                    <button class = 'btn btn-primary' type='button' onclick = "removeMentor('{{mentor.name.RIN}}', this)" data-dismiss='modal'> Yes </button>
                    <button type='button' class="btn btn-default" data-dismiss='modal'>Cancel</button>
                </div>
            </div>
        </div>
    </div>
</tr>


{% endfor %}

{% endfor %}
