{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block extra_head %}

{% endblock %}

{% block content %}
<style>
    p.sameline{
        display:inline-block;
    }
    .panel-default > .panel-heading {
      color: #fff;
      background-color: #4c94cc;
      border-color: transparent;
        border:0px;
    }
    .readable{
        background-color:rgba(0, 0, 0, 0.5);
    }
    body, html {
    height: 100%;
    line-height: 1.8;
    }
   

    img {margin-bottom: -8px;}
    
</style>


<div class="container">
  <br></br>  
  <br></br>  
  <div class="w3-text-white w3-xlarge" > Create your own application!</div>  
  <p>Go to the <a href="/admin/">admin</a> to create a form.</p>

  <br></br> 
</div>
<br></br>  

<div class="container">
  <br></br>  
  <div class="w3-text-white w3-xlarge" > Search for applciation!</div>  
    {% for form in forms %}
    <p><a href="{{ form.get_absolute_url }}">{{ form.title }}</a></p>
    {% empty %}
    {% endfor %}
</body>
  <br></br> 
  <br></br>  
</div>

{% endblock %}
